body {
    margin: 0;
    font-family: "PingFang SC", "Helvetica Neue", "Microsoft Yahei", sans-serif;
}

.container {
    max-width: 1056px;
    width: 100%;
    padding: 0 16px;
    box-sizing: border-box;
    margin: 0 auto;
}

.header {
    flex: 1;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
    height: 80px;
}

.logo {
    height: 48px;
}

.el-menu--horizontal>.el-submenu .el-submenu__title {
    font-size: 16px !important;
}

.el-menu.el-menu--horizontal {
    border: none !important;

}
.el-menu--horizontal>.el-menu-item {
    border-bottom: 0 !important;
}
.el-menu--horizontal>.el-menu-item.is-active {
    border-bottom: 0 !important;
}

.el-link {
    font-size: 16px !important;
}


.dark {
    background-color: #f1f2f6;
}

.main {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.video {
    padding: 160px 0;
}

.video img {
    max-width: 100%;
    width: 496px;
    border-radius: 14px;
    cursor: pointer;
}

.slogan {
    display: flex;
    flex-direction: column;
    justify-content: center;
    box-sizing: border-box;
    padding: 10px 0;
}

.slogan .title {
    font-size: 42px;
    color: #172b4d;
    padding: 10px 0;
    letter-spacing: 2px;
    font-weight: 600;
}

.slogan .description {
    font-size: 20px;
    color: #505f79;
}

.slogan .btns .btn {
    margin-top: 50px;
    font-size: 16px;
    display: inline-block;
    padding: 10px 20px;
    border-radius: 3px;
    background-color: #172b4d;
    color: #fff;
    cursor: pointer;
    user-select: none;
}

.slogan .btns .main-download {
    margin-right: 10px;
}

.slogan .btns .light {
    background-color: rgb(131, 146, 180);
}

.siema {
    max-width: 800px;
    width: 100%;
    overflow: hidden;
    text-align: center;
    height: 215px;
}

.slide {
    width: 100%;
    text-align: center;
}

.slide .say {
    font-size: 22px;
    padding: 60px 0;
    color: #172b4d;
}

.slide .who {
    margin-top: 20px;
    font-size: 14px;
    color: #7f8c8d;
}

.el-carousel__item:nth-child(2n) {
    background-color: #99a9bf;
}

.el-carousel__item:nth-child(2n+1) {
    background-color: #d3dce6;
}

.mask {
    background: #000;
    opacity: 0.6;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 99997;
}

.close-video {
    top: 10px;
    right: 10px;
    z-index: 99999;
    position: fixed;
    width: 30px;
    height: 30px;
    border-radius: 50%;
}

.watch-video {
    max-width: 1024px;
    max-height: 576px;
    position: fixed;
    top: 0;
    bottom: 0;
    margin: auto;
    left: 0;
    right: 0;
    z-index: 99998;
}

.watch-video video {
    width: 100%;
}

.plugin-desc {
    color: #ccc;
    position: absolute;
    bottom: 50px;
}

.fastcut-plugins,
.fastcut-input,
.fastcut-panel {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 30px 0;
    box-sizing: border-box;
    position: relative;
}

.fastcut-plugins {
    padding: 0 16px;
}

.fastcut-plugins video {
    max-width: 1000px;
    width: 100%;
    margin: 30px 0 60px 0;
    cursor: pointer;
    outline: none;
}

.content-title {
    font-size: 32px;
    color: #172b4d;
    padding: 20px 0;
}

.content-desc {
    font-size: 16px;
    color: #505f79;
    line-height: 1.75;
}

.fastcut-panel .fastcut-panel-img {
    display: flex;
    flex-wrap: wrap;
}

.platform {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    padding: 30px 0;
}

.platform>div {
    padding: 28px 0;
    text-align: center;
    font-size: 16px;
    color: #172b4d;
}

.platform .logo {
    height: 50px;
    width: 100px;
    font-size: 50px;
    background-size: contain !important;
    margin: 0 auto;
}

.platform .remark {
    padding: 20px 0;
}

.platform .download {
    font-size: 14px;
    display: inline;
    padding: 8px 16px;
    border-radius: 3px;
    background-color: #172b4d;
    color: #fff;
    cursor: pointer;
    user-select: none;
}

.download .el-link.el-link--default {
    color: #ffffff;
}

.platform .download:hover {
    opacity: 0.9;
}

.platform .download-32 {
    margin-top: 20px;
    cursor: pointer;
}

.platform .download-32:hover {
    opacity: 0.8;
}

.footer {
    color: #111;
    padding: 10px 0;
    margin: 0 auto;
    flex: 1;
    width: 100%;
    max-width: 1056px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    box-sizing: border-box;
    line-height: 2;
    text-align: left;
}

.footer .footer-classify {
    margin: 10px 0;
}

.footer .qrcode {
    font-size: 14px;
    color: #333;
    display: flex;
    /* flex-direction: column; */
    justify-content: center;
    align-items: center;
}

.footer .qrcode img {
    width: 100px;
    height: 100px;
}

.footer .qrcode>div {
    padding-left: 20px;
}

.footer .footer-item {
    padding: 0 35px;
}

.copyright {
    font-size: 14px;
    color: #7f8c8d;
    padding: 30px 0;
    position: relative;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.footer a,
.copyright a {
    color: #7f8c8d;
    text-decoration: none;
}

.footer-secondary {
    padding-top: 16px;
    color: #7f8c8d;
}

#m1-download {
    display: none;
}

#version {
    display: none;
    padding-top: 15px;
    font-size: 14px;
    color: #505f79;
}

.el-divider--horizontal {
    margin: 10px 0 !important;
}